.ipynb_checkpoints
/Airways/
.snakemake/
/A/
/benchmark/
/Skin/
/Gastrointestinal/
/Oral/
/output/
/Urogenital/
snakejob*
/trash/
/snake_out/
/test/
/test2
Untitled1.ipynb
Untitled2.ipynb
vamb_cutoff_in_loop_snakefile.py
vamb_cutoff_snakefile
